@using AdoptionContext.Models
@model Adoption.Models.Dog
<partial name="_Notification" />
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Adopt a Dog</h2>
    </div>

    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>

        <div class="form-row" >
            <div class="form-group col-md-6">
                <label asp-for="Name">Employee Name</label>
                <input type="text" class="form-control mb-3" asp-for="Name" placeholder="Enter Name">
                <span asp-validation-for="Name" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Gender">Gender</label>
                <select  class="form-control mb-3" asp-items="Html.GetEnumSelectList<Gender>()" asp-for="Gender" placeholder="Enter Gender"></Select>
                <span asp-validation-for="Gender" class=" alert-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Age">Age</label>
                <input type="text" class="form-control mb-3" asp-for="Age" placeholder="Enter Age">
                <span asp-validation-for="Age" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label asp-for="Color">Color</label>
                <input type="Text" class="form-control" asp-for="Color">
                <span asp-validation-for="Color" class=" alert-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Weight">Weight</label>
                <input type="text" class="form-control mb-3" asp-for="Weight" placeholder="Enter Weight">
                <span asp-validation-for="Weight" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ImageUrl">ImageUrl</label>
                <input type="file" name="file" class="form-control mb-3" asp-for="ImageUrl" placeholder="Enter ImageUrl">
                <span asp-validation-for="ImageUrl" class=" alert-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Height">Height</label>
                <input type="text" class="form-control mb-3" asp-for="Height" placeholder="Enter Weight">
                <span asp-validation-for="Height" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label asp-for="BreedId">Breed</label>
                <select asp-for="BreedId" class="form-control" asp-items="ViewBag.BreedId"></select>
                <span asp-validation-for="BreedId" class=" alert-danger"></span>
            </div>
        </div>


        <input type="submit" value="Create" class="btn btn-primary" />
        <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Save</button>
        @*  <a asp-controller="Dogs" asp-action="Index" class="btn btn-lg btn-warning p-2">Back To List</a>*@
    </form>

</div>


@*//for front end validations*@

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}









@* 
<h1>Create</h1>

<h4>Dog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select>
                <span asp-validation-for="Gender"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input type ="file" name="file" asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreedId" class="control-label"></label>
                <select asp-for="BreedId" class ="form-control" asp-items="ViewBag.BreedId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@